body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
    background-color: #fff;
    letter-spacing: 1px;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    transition: 0.4s;
}

.container {
    max-width: 1400px;
}

img {
    background-color: #9F1917;
}
header{
    position: relative;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    transition: 0.4s;
}
.StickyHeader header{
    position: fixed;
    left: 0;
    top: 0;
}

.HeaderFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
}

.HeaderItem a.link1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 125px;
    height: 60px;
    color: #000;
    font-weight: 400;
    position: relative;
}

.HeaderItem a.link1.active,
.HeaderItem a.link1:hover {
    color: #9F1917;
}

.HeaderItem a.link1.active::after,
.HeaderItem a.link1:hover::after {
    transition: 0.4s;
}

.HeaderItem a.link1.active::after,
.HeaderItem a.link1:hover::after {
    content: "";
    width: 40%;
    height: 3px;
    background-color: #9F1917;
    position: absolute;
    left: 30%;
    bottom: 0;
}

.HeaderItem a img {
    background-color: #fff;
}

.LogoImageBox {
    margin: 10px 25px;
    max-width: 130px;
}

.SliderImage {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
}
.SliderImage::after{
    content: "";
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.MenuIconsWrap {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
}

.HMenuItems {
    display: flex;

}

.HMenuItem {
    margin-right: 25px;
}

.HMenuItems .HMenuItem:last-child {
    margin-right: 0px;
}

.hederMenuIcon {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
}

.hederMenuIcon.MenuClickActivator {
    background-image: url(../public/hamburger-black.png);
}

.hederMenuIcon.whatsapp {
    background-image: url(../public/whatsapp-black.png);
}

.hederMenuIcon.location {
    background-image: url(../public/location-black.png);
}

footer {
    background-color: #9F1917;
    color: #fff;
    padding: 25px 0px;
}

.FooterLogoWrap {
    max-width: 55%;
    margin-bottom: 15px;

}

.FT2 {
    margin-top: 15px;
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline !important;
}

.FT3 {
    margin-bottom: 20px;
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 50px;
}

.FtrLinksWrap a {
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
}

.FtLnk1 a {
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
}

.FtrLinksWrap a:hover,
.FtLnk1 a:hover {
    color: #EA931A;
}

.FT4 {
    margin-bottom: 10px;
}

.FtrSocialMediaFlex {
    display: flex;
}

.FtrSocialIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 100% 100%;
}

.FtrSocialIcon.instagram {
    background-image: url(../public/instagram.png);
}

.FtrSocialIcon.facebook {
    background-image: url(../public/facebook.png);
    width: 12px;
}

.FtrSocialIcon.linkedin {
    background-image: url(../public/linkedin.png);
}

.FtrSocialIcon.twitter {
    background-image: url(../public/twitter.png);
}

.FtrSocialMediaFlex a {
    display: inline-block;
    margin-right: 25px;
}

.FtrSocialMediaFlex a:last-child {
    margin-right: 0;
}
.FtrSocialMedia{
    margin-top: 20px;
}
.FooterBottomWrap{
    background-color: #000;
    color: #fff;
    padding: 20px 0px;
}
.FooterBottom{
    display: flex;
    justify-content: space-between;
}
.FooterBottom a{
    color: #fff !important;
}
.FooterBottom a:hover{
    color: #EA931A;
}

.OverLay1 {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    background: #0000004f;
    z-index: 99;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: none;
}
.SideNav {
    background-color: #EA931A;
    z-index: 1000;
    width: 500px;
    padding: 25px;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    transition: 0.4s;
}
.PanelActivated .OverLay1{
    display: block;
}
.PanelActivated .SideNav{
    right: 0;
}
.PanelActivated{
    overflow: hidden;
}
.NavLogo img{
    background-color: #EA931A;
}
.NavLogo{
    max-width: 140px;
}
.SideNavHeader{
    position: relative;
    margin-bottom: 25px;
}
.SideNavLinks{
    margin-bottom: 20px;
}
.CloseBtn1{
    display: inline-block;
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
  background-image: url(../public/close.png);
  position: absolute;
  top: 20px;
  right: 0px;
  cursor: pointer;
}
.SideNavLinksRow a{
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}
.SideNavLinksRow a:hover{
    color: #9F1917;
}
.SideNavFooter .row{
    margin: 0 -5px;
}
.SideNavFooter .row .col-md-4{
    padding: 0 5px;
}
.T4{
    margin-top: 15px;
}
.SliderImageContent{
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    align-items: end;
    justify-content: center;
    text-align: center;
    padding: 80px 40px;
}
.HrT1{
    font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
}
.HrT2{
font-size: 20px;
margin-bottom: 20px;
text-transform: capitalize;
}
.ContentBoxButtons a {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 25px;
    background-color: #9F1917;
    min-width: 195px;
    font-weight: 400;
    position: relative;
    padding: 10px 35px 10px 15px;
  }
  .ContentBoxButtons a:first-child{
    background-color: #EA931A;
    margin-right: 20px;
  }
  .ContentBoxButtons a::after {
    content: "";
    height: 22px;
    width: 22px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    background-image: url(../public/rightarrow.png);
  }
  .ContentBoxButtons a:hover{
    border-color: #fff;
  }
  .pd-common{
    padding: 50px 0px;
  }
  .bg1{
    background-color: #9F1917;
  }
  .PromotionalGrid{
    position: relative;
   
  }
  .PromotionalGrid::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
  }
  .promotionalBlock{
    padding-top: 30px;
  }
  .PromotionalBlockContent{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: #fff;
    padding: 25px;
    width: 100%;
    height: 100%;
  }
  .PbT1{
    font-size: 35px;
    text-transform: capitalize;
    max-width: 50%;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .PbT2{
    margin-bottom: 30px;
  }
  .PromotionalBlockContent a{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 25px;
    background-color: #EA931A;
    min-width: 170px;
    font-weight: 400;
    position: relative;
    padding: 8px 35px 8px 8px;
    text-align: center;
  }
  .PromotionalBlockContent a.color1{
    background-color: #EA931A;
  }
  .PromotionalBlockContent a.color2{
    background-color: #589507;
  }
  .PromotionalBlockContent a.color3{
    background-color: #9F1917;
  }
  .PromotionalBlockContent a::after{
    content: "";
    height: 17px;
    width: 17px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 11px;
    background-image: url(../public/rightarrow.png);
  }
  .PromotionalBlockContent a:hover{
    border-color: #fff;
  }
  .promotionalBlock .row{
    margin: 0 -10px;
  }
  .promotionalBlock .col-md-4{
    padding: 0 10px;
  }
  .loadingMainDiv{
    position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #EA931A;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  text-align: center;
  }
  .loadingMainDiv img{
    background: #EA931A;
  }
  .color-fff{
    color: #fff;
  }
  .T1{
    font-size: 50px;
    margin-bottom: 15px;
  }
  .T2{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .ProductGrid {
    position: relative;
    overflow: hidden;
    margin: 0 8px;
  }
  .ProductGrid::after {
    content: "";
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .ProductGridBottom, .ProductGridTop {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    z-index: 2;
  }
  .ProductGridBottom {
    bottom: 0;
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 18px;
  }
  .ProductGridTop {
    top: 0;
  }
  .LikeBtn {
    width: 30px;
    height: 26px;
    background-size: 100% 100%;
    background-image: url(../public/like.png);
    cursor: pointer;
    margin-left: auto;
  }
  .ReviewRow {
    display: flex;
  }
  .ReviewColumn {
    width: 20px;
    height: 21px;
    background-size: 100% 100%;
    background-image: url(../public/whitereview.png);
    margin-right: 7px;
  }
  .ReviewColumn.gold{
    background-image: url(../public/goldenreview.png);
  }
  .ProductGridLnk {
    background-color: #EA931A;
    color: #fff;
    padding: 7px 5px;
    display: block;
    font-size: 11px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid transparent;
  }
  .ProductGridLnk:hover{
    background-color: #589507;
    color: #fff !important;
    border-color: #fff;
  }
  .GbT1{
    font-size: 17px;
    font-weight: 500;
  }
  .GbT2{
    font-size: 16px;
    font-weight: 500;
  }
  .slider1{
    margin-top: 50px;
  }
  .slider1 .slick-next::before, .slider1 .slick-prev::before {
    content: "";
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    display: inline-block;
    opacity: 1;
    border-radius: 50%;
  }
  .slider1 .slick-next::before {
    background-image: url(../public/btn-next1.png);
  }
  .slider1 .slick-prev::before {
    background-image: url(../public/btn-prev1.png);
  }
  .slider1 .slick-next, .slider1 .slick-prev {
    width: 50px;
    height: 50px;
    z-index: 5;
  }
  .slider1 .slick-dots li button::before{
    content: none;
  }
  .slider1 .slick-dots li button {
    width: 70px;
    height: 3px;
    padding: 0;
    background: #fff;
      background-color: rgb(255, 255, 255);
  }
  .slider1 .slick-dots li.slick-active button {
    background-color: #1d1d1b;
  }
  .slider1 .slick-dots {
    text-align: right;
    bottom: -50px;
  }
  .slider1 .slick-dots li {
    width: 80px;
    height: 3px;
  }
  .Slider1Link{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 25px;
    background-color: #9F1917;
    min-width: 195px;
    font-weight: 400;
    position: relative;
    padding: 10px 35px 10px 15px;
    margin-top: 20px;
  }
  .Slider1Link:hover{
    background-color: #EA931A;
    color: #fff;
  }
  .Slider1Link::after {
    content: "";
    height: 22px;
    width: 22px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    background-image: url(../public/rightarrow.png);
  }
  .OfferImageBox{
    position: relative;
  }
  .OfferBoxContent{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
 .OfferT1{
  font-size: 35px;
 }
 .OfferT2{
  font-size: 70px;
  margin: 15px 0px;
  font-weight: 600;
 }
 .OfferT3{
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 2px;
  transition: .4s;
  border: 2px solid transparent;
  display: inline-block;
  border-radius: 25px;
  background-color: #EA931A;
  min-width: 195px;
  font-weight: 400;
  position: relative;
  padding: 10px 15px 10px 15px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
 }
 .bg3{
  background-image: url(../public/bg3.jpg);
  background-size: 100% 100%;
 }
 .HmT1{
  font-size: 45px;
  color: #9F1917;
  margin-bottom: 15px;
 }
 .HmT2{
  margin-bottom: 30px;
 }
 .GelleryItem{
  margin: 0 5px;
  cursor: pointer;
 }

 .GallerySlider1 .slick-next::before, .GallerySlider1 .slick-prev::before {
  content: "";
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  display: inline-block;
  opacity: 1;
  border-radius: 50%;
}
.GallerySlider1 .slick-next::before {
  background-image: url(../public/btn-next1.png);
}
.GallerySlider1 .slick-prev::before {
  background-image: url(../public/btn-prev1.png);
}
.GallerySlider1 .slick-next, .GallerySlider1 .slick-prev {
  width: 50px;
  height: 50px;
  z-index: 5;
}
.GallerySlider1 .slick-dots li button::before{
  content: none;
}
.GallerySlider1 .slick-dots li button {
  width: 70px;
  height: 3px;
  padding: 0;
  background: #9F1917;
}
.GallerySlider1 .slick-dots li.slick-active button {
  background-color: #EA931A;
}
.GallerySlider1 .slick-dots {
  text-align: center;
  bottom: auto;
  position: relative;
  margin-top: 15px;
}
.GallerySlider1 .slick-dots li {
  width: 80px;
  height: 3px;
}
.bg4{
  background-color: #589507;
}
.InstaGalleryHeader{
  margin-bottom: 30px;
}
.InstraaLftBox {
  display: flex;
  align-items: center;
}
.InstraaLftBoxL {
  flex: 0 0 45px;
  max-width: 45px;
}
.InstaIcon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../public/insta.png);
  background-size: 100% 100%;
}
.InstraaLftBoxR {
  flex: auto;
  font-weight: 400;
  font-size: 35px;
}
.InstaGallery .GelleryItem{
  position: relative;
}
.InstaGallery .GelleryItem::after{
  content: "";
  width: 95px;
  height: 20px;
  background-size: 100% 100%;
  background-image: url(../public/inafter.png);
  position: absolute;
  top: 15px;
  right: 15px;
}
.GallerySlider1.InstaGallery .slick-dots li button{
  background-color: #fff;
}
.GallerySlider1.InstaGallery .slick-dots li.slick-active button{
background-color: #9F1917;
}

.ReviewItemBoxItem {
  padding: 13px;
  background-color: #eae8e5;
}
.Rv1 {
  font-weight: 500;
  font-style: normal;
  color: #589507;
  font-size: 17px;
  margin-bottom: 15px;
  line-height: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.Rv2 {
  font-size: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 80px;
}
.ReviewAddress {
  position: relative;
}
.RLocation, .Rname {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #589507;
}
.Rname {
  color: #9F1917;
  margin-bottom: 10px;
}
.ReviewAddress::after {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url(../public/googleIcon.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.TestimonialItem{
  margin: 0 7px;
}
.TestimonialHeader{
  margin-bottom: 30px;
}
.StarItems {
  display: flex;
}
.StarItem {
  width: 30px;
  height: 26px;
  display: inline-block;
  background-image: url(../public/start.png);
  background-size: 100% 100%;
  margin-right: 10px;
}
.RT2{
  color: #589507;
  font-size: 35px;
  margin-bottom: 15px;
}
.TestimonilSlider{

}
.TestimonilSlider .slick-next, .TestimonilSlider .slick-prev{
display: none !important;
}
.TestimonialBoxWrap{
  border: 2px solid #e4e4e4;
}